:root {
    /* Colors */
    --Grayish-blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --color-link: rgb(110, 160, 216);

    /* Measures */
    --medium-spacing: 16px;
    --card-padding: 40px 40px 62px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html, body {
    height: 100vh;
    width: 100vw;
}

html {
    font-size: 62.5%;
}

footer {
    bottom: var(--medium-spacing);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

footer span {
    white-space: nowrap;
}

footer a {
    color: rgb(110, 160, 216);
    text-decoration: none;
}

body {
    align-items: center;
    background-color: var(--Dark-Blue);
    color: var(--Light-Cyan);
    display: flex;
    font-family: "manrope";
    justify-content: center;
    padding: 0 var(--medium-spacing);
}

main {
    width: 100%;
}

.card {
    background-color: var(--Dark-Grayish-Blue);
    border-radius: 10px;
    margin: 0 auto;
    max-width: 540px;
    padding: var(--card-padding);
    position: relative;
    width: 100%;
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.card__title {
    color: var(--Neon-Green);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase; 
}

.card__phrase {
    color: var(--Light-Cyan);
    font-family: "manrope";
    text-align: center;
    margin: 20px 0px 30px; 
    font-size: 2.5rem;  
    font-weight: 700;
}

.card__divider {
    margin: 0 auto;
    height: 16px;
    width: 100%;
}

.card__divider::before {
    background: url('../../images/pattern-divider-desktop.svg') center center no-repeat;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
}

.card__button {
    align-items: center;
    background-color: var(--Neon-Green);
    border: none;
    border-radius: 50%;
    bottom: -28px;
    cursor: pointer;
    display: flex; 
    height: 56px;
    justify-content: center;
    left: 50%;
    position: absolute; 
    transform: translateX(-50%);
    transition: box-shadow 400ms ease;
    width: 56px;
}

.card__button:hover {
    box-shadow: 0px 0px 28px 2px hsl(150, 100%, 66%);
}

.card__button:active {
    box-shadow: 0px 0px 36px 2px hsl(150, 100%, 66%);
}